header{
    display:flex;
    width: 100%;
    margin-top: 50px;
    align-items: center;

}
body{
    margin: 0;
}
.nav-left{
    width: 50%;
    display: flex;
}
.nav-img{
    margin-left: 134px;
}
.nav-left-link a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 13px;
    margin-left: 40px;
    
}
.nav-left-link{
    padding-top: 3px;
}
.nav-right{
    width: 50%;
    display: flex;
}
.nav-right-1{
    display: flex;
    width: 100%;
    float: left;
}
.nav-right-1 img{
    width: 23px;
    margin-left: 412px;
}
.nav-right-2 p{
    display: inline;
    font-size: 23px;
}
.nav-right-1 a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-left: 17px;
    margin-top: 27px;
}
.nav-right-2{
    display: flex;
}
.nav-right-2{
    margin-right: 121px;
}
.sec1{
    background-color: rgba(0, 0, 0, 0.885);
    height: 70px;
}
.sec1 p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: 17px;
}
.sec1-cont{
    display: flex;
    margin-left: 536px;
    padding: 10px;
}
.sec1-cont a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border: 1px solid red;
    margin-left: 34px;
    background-color: red;
    padding: 16px;
    border-radius: 27px;
    border-style: none;
}
.c:hover{
    background-color: rgba(255, 0, 0, 0.73);
}
.sec2{
    overflow: hidden;
}
.sec3-hd{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-left: 16px;
}
.con{
    height: 261px;
    width: 266px;
    background-color:rgba(255, 235, 205, 0.347) ;
    margin-left: 17px;
    border-radius: 9px;
}
.sec3-grid1{
    display: flex;
    margin-right: 20px;
}
.sec3-grid2{
    display: flex;
    margin-top: 25px;
    margin-right: 17px;
}
.sec3-grid1 img{
    width: 100%;
    border-radius: 9px;
    border-end-start-radius: 0;
    border-bottom-right-radius: 0;
}
.sec3-grid2 img{
    width: 100%;
}
.sec3{
    margin-left: 270px;
    margin-top: 108px;
    margin-bottom: 100px;
}

.sec4{
    background-color: rgba(0, 0, 0, 0.884);
    width: 100%;
    height: 700px;
    padding-left: 189px;
}
.sec4 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    
}
.sim{
    width: 294px;
    height: 365px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 9px;
}
.sec5-cont{
    display: flex;
    padding-bottom: 100px;
}
.sec4 p{
    color: rgb(255, 255, 255);
    font-size: 32PX;
    padding-left: 17px;
    padding-top: 88px;
    margin-bottom: 70px;
}
.sec5-cont img{
    width: 100%;
    border-radius: 9px;
    border-end-start-radius: 0;
    border-bottom-right-radius: 0;
}
footer{
    background-color: brown;
    width: 100%;
    height: 400px;
    display: flex;
}